body {
    scroll-behavior: smooth;
    margin-top: 0px;
    overflow-anchor: none;
}

nav {
    display: grid; overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
}

.navitem {
    font-size: 2.1vw;
}


.image {
    max-width: 100%;
    height: auto;
}

.logo {
    margin-left: 10px;
    max-width: 13vh;

}

.title {
    max-width: 70vw;
    font-size: 15vh;
    margin: 0 auto;
}

.container {
    max-width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
.content {
    min-height: 60vh;
}

#sticky-navbar {
    position: sticky;
    top: 0;
    right: 0;
    transition-duration: 0.5s;
}

#sticky-navbar.pinned {
    padding: 5px;
    margin-bottom: 20px;
}

.pinned .navitem {
    font-size: 1.7vw;
    padding: 5px 0;
}

header {
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    nav {
        column-gap: normal;
    }
    .container {
        max-width: 95vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }
    .navitem {
        font-size: 3.5vw;
    }
    .pinned .navitem {
        font-size: 3vw;
    }
        
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 98vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    nav {
        grid-template-columns: 1fr;
    }
    .navitem {
        font-size: 3vh;
    }
    .pinned .navitem {
        font-size: 3vh;
        padding: 5px 10px;
    }
    .logo {
        max-width: 7vh;
        position: sticky;
    }
    .title {
        font-size: 15vw;
    }
    header {
        text-align: inherit;
    }
    #sticky-navbar {
        position: inherit;
        padding: 1vh !important; 
    }
    #sticky-navbar.pinned {
        margin-bottom: 10px;
    }
}
