@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
:root {
    --white-0: #F8FDEF;
    --white-1: #E8EDDF;
    --white-2: #CFDBD5;
    --yellow:  #F5CB5C;
    --black-1: #333533;
    --black-2: #242423;
}

body {
    font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    color: var(--black-2);
}

nav {
    padding: 1em;
    border-radius: 0 0 5px 5px;
    background-color: var(--white-1);
    margin-bottom: 10px;
}

nav:hover {
    transform: scale(1.01);
}

nav.pinned {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.32);
}

.navitem {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: var(--white-1);
    transition-duration: 0.5s;
    border-radius: 5px;
}

.navitem:hover {
    background-color: var(--yellow);
    color: inherit;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

header {
    transition-duration: 1s;
    background-color: var(--white-0);
    padding-top: 10px;
}
header:hover {
    transform: scale(1.01);
}

.currentNav {
    background-color: var(--black-1);
    color: var(--yellow);
}

a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 600px) {
    .navitem {
        text-align: left;
        padding: 5px 10px;
    }
    .nav {
        padding: auto;
    }
}

