@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
:root {
    --white-0: #F8FDEF;
    --white-1: #E8EDDF;
    --white-2: #CFDBD5;
    --yellow-0:  #F5CB5C;
    --yellow-1: #dbb64f;
    --black-1: #333533;
    --black-2: #242423;
}

body {
    font-family: Lato, Calibri, Tahoma, 'Calibri Light', Verdana, Geneva, sans-serif;
    font-size: 1.3em;
    color: var(--black-2);
}

html {
    scroll-behavior: smooth;
}

nav {
    padding: 0.75em;
    border-radius: 0 0 5px 5px;
    background-color: var(--white-1);
    margin-bottom: 10px;
    z-index: 1;
}

nav.pinned {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.32);
}

.navitem, .dropbtn {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: var(--white-1);
    transition-duration: 0.3s;
    border-radius: 5px;
}

.navitem:hover, .dropbtn:hover {
    background-color: var(--yellow-0);
    color: inherit;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

#sticky-navbar {
    transition-duration: 0.5s;
}

footer {
    font-size: 0.8rem;
    text-align: center;
    background-color: var(--white-1);
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


header {
    transition: all 1s, background-color 1ms, color 1ms;
    background-color: var(--white-0);
    padding-top: 10px;
}
header:hover {
    transform: scale(1.02);
}

.currentNav {
    background-color: var(--black-1);
    color: var(--yellow-0);
}

a {
    color: inherit;
    text-decoration: none;
}

.card {
    border-radius: 10px;
    margin: 20px 0;
    border: var(--yellow-0) 3px solid;
    transition: 0.7s;
    overflow: hidden;
    display: inline-block;
}

.card:hover {
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
    transform: scale(1.015);
  }

.card-img {
    transition: 1s;
}
.card-img:hover {
    transform: scale(1.1);
}

.card-content {
    padding: 20px;
}

button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: var(--yellow-0);
    font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid var(--yellow-1);
    border-radius: 5px;
    font-size: 1em;
    transition-duration: 0.05s;
}

button:hover {
    transform: scale(1.07);
    border-color: var(--yellow-0);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
}

#theme-toggler {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--white-1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    transition-duration: 0.5s;
    z-index: 1;
}

/* Dark mode */
.dark {
    --white-0: #242423;
    --white-1: #333533;
    --white-2: #444;
    --yellow-0:  #F5CB5C;
    --yellow-1: #dbb64f;
    --black-1: #E8EDDF;
    --black-2: #F8FDEF;
    background-color: var(--white-0);
}

.dark header {
    background-color: var(--white-2);
}
.dark .currentNav {
    background-color: var(--white-0);
    color: var(--yellow-0);
}

.dark .navitem:hover, .dark .dropbtn:hover {
    color: var(--white-0);
}

.dark .navitem:hover, .dark .dropbtn:hover {
    background-color: var(--yellow-0);
}

.dark .card {
    border: #a3873a 1px solid;
}

.dropdown-link {
    margin: 7px;
    border-radius: 10px;
}

.dropdown-link:hover {
    background-color: #242423;
    color: var(--yellow-0);
}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 600px) {
    .navitem, .dropbtn {
        text-align: left;
        padding: 5px 10px;
    }
    .nav {
        padding: auto;
    }
    .card-img {
        width: 100%;
        border-radius: 7;
    }
    .card-img:hover {
        transform: scale(1.05);
    }
    .dropdown-link {
        margin: 5px;
        border-radius: 5px;
        font-size: 1.1rem;
    }
}

