#test {
    
}

#result {
    
}

#typing {
    margin: 20px 0;
    color: #727272;
    white-space: pre-wrap;
}

#typing-stats {
    display: flex;
    justify-content: space-around;
}

.stat {
    flex: 1;
    text-align: center;
}

#result-stats {
    display: flex;
    justify-content: space-around;
}

.result-stat {
    flex: 1;
    text-align: center;
    font-size: larger;
    font-size: 2em;
}


.hidden {
    display: none;
}

button {
    font-size: 1.5em;
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    transition-duration: 0.5s;
}

.correct {
    color: var(--black-1);
} 
.incorrect {
    color: red;
    font-weight: bold;
}

#progressbar {
    margin-top: 30px;
    width: 80%;
    height: 10px;
    margin-left: 10%;
    background-color: var(--black-1);
    border-radius: 10px;
}

#progressbar::-moz-progress-bar {
    background-color: var(--yellow-0);
}

#progressbar::-webkit-progress-value {
    background-color: var(--yellow-0);
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 600px) {
    #typing-stats {
        flex-direction: column;
    }
    #result-stats {
        flex-direction: column;
    }
    .result-stat {
        font-size: 1.5em;
    }
}